body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 80px;
  text-align: center;
  color: #ed458b;
  background-color: #404041;
  position: fixed;
  width: 100%;
}

header span {
  color: #e6e7e8;
  font-weight: 300;
}

.guess {
  text-align: center;
  padding: 100px;
}

.guess input {
  width: 240px;
  font-size: 16px;
}

.guess .buttons {
  width: 240px;
  font-size: 16px;
  margin: 20px auto 20px;
}

.buttons input {
  width: 110px;
}