body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 80px;
  text-align: center;
  color: #ed458b;
  background-color: #404041;
  position: fixed;
  width: 100%;
}

header span {
  color: #e6e7e8;
  font-weight: 300;
}

.guess {
  text-align: center;
  padding: 100px;
}

.guess input {
  width: 240px;
  font-size: 16px;
}

.guess .guess-buttons {
  width: 240px;
  font-size: 16px;
  margin: 20px auto 20px;
}

.guess-buttons input {
  width: 110px;
  border-radius: 50px;
  font-size: 16px;
}

#reset-button {
  width: 220px;
  height: 21px;
  border-radius: 50px;
  font-size: 16px;
}

button:disabled {
  background-color: #D0D2D3;
  color: #ffffff;
}

input:disabled {
  background-color: #D0D2D3;
  color: #ffffff;
}

#feedback {
  display: none;
}